{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" type="icon/jpg"  href="{% static 'image/rice.jpg' %}" >
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body style="background-image:radial-gradient(circle, rgb(116, 181, 224), rgb(121, 252, 160), rgb(237, 126, 252));">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'work' %}">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'cooperative' %}" tabindex="-1" aria-disabled="true">Register</a>
        </li>
      </ul>
      
      <!-- end of navbar -->


      <!-- form -->
      <div class="container my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">

        <!-- Default form contact -->
        <p class="alert alert-warning">{{message}}</p>
        <form action="{% url 'register' %}" method="POST">
         <h3 class="font-weight-bold mb-4">Registration</h3>

          <!-- Name -->
          {%csrf_token %}
          <label for="firstname">Firstname</label>
          <input type="text" name="firstname" id="defaultContactFormName" class="form-control mb-4" placeholder="firstname">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="defaultContactFormName" class="form-control mb-4" placeholder="lastname">
          <label for="email">Email</label>
          <input type="email" name="email" id="defaultContactFormName" class="form-control mb-4" placeholder="email">
          <label for="telephone">Telephone</label>
          <input type="text" name="telephone" id="defaultContactFormName" class="form-control mb-4" placeholder="telephone">
          <label for="gender">Gender</label>
          <input type="text" name="gender" id="defaultContactFormName" class="form-control mb-4" placeholder="gender">
          <label for="dateofbirth">Date of birth</label>
          <input type="date" name="dateofbirth" id="defaultContactFormName" class="form-control mb-4" placeholder="dateofbirth">
          <label for="district">District</label>
          <input type="text" name="district" id="defaultContactFormName" class="form-control mb-4" placeholder="district">
          <label for="village">Village</label>
          <input type="text" name="Village" id="defaultContactFormName" class="form-control mb-4" placeholder="village">
         
        

          <!-- Message -->
          <div class="form-group">

          <!-- Copy -->

          <!-- Send button -->
          <button class="btn btn-info btn-block" name="submit" type="submit">Register</button>

        </form>
    </div>
</div>
  
   
  <!-- Footer -->
  <!-- boostrap js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- uikit js -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
  <!-- aos js -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
          AOS.init();
      </script>

</body>
</html>