{% include 'base.html' %}
{% load static %}<!-- Three columns -->
<div class="flex shadow-lg bg-indigo-100">
    <div class="w-1/6 block md:hidden">
        <button type="button" id="modalbtn" class="btn block md:hidden" data-toggle="modal" data-placement="left" data-target="#exampleModalLong">
        <ion-icon class="text-4xl " name="reorder-four-sharp"></ion-icon>
    </button>
    
    <div id="simplemodal" class="modalrt">

        <div class="modal-content  h-full">
            <span id="closeBtn" class="closeBtn ml-32 ">
            <ion-icon class=" text-3xl  ml-20 floart-right mt-4" name="close"></ion-icon></span>
            <nav class="mt-2">
              <a class="flex items-center py-2 px-8 block bg-gray-700 text-gray-100 border-r-4 border-gray-100" href="{% url 'farmerreg'%}">
                <span class="text-white text-2xl"><ion-icon  name="home-outline"></ion-icon> </span>
            
                  <span class="mx-4 font-medium">Home</span>
              </a>
            
                 
            
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'farmerreg'%}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
            
                  <span class="mx-4 font-medium">Register</span>
              </a>
            
              
            
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="#">
                <ion-icon class="text-2xl" name="search-outline"></ion-icon>
            
                  <span class="mx-4 font-medium">Codes</span>
              </a>
            
            
            <a class="flex items-center mt-2 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="#">
            
            <ion-icon class="text-2xl" name="create-outline"></ion-icon>
            <span class="mx-4 font-medium">Edit User</span>
            </a>
            
            
            
            <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="#">
            
            <ion-icon class="text-2xl text-white" name="log-out-outline"></ion-icon>
            
            <span class="mx-4 font-medium">Logout</span>
            </a>
            
          </nav>
       </div>

</div>
           </div>

    
    <div class="w-2/6"> 
      {% load static %}
      <img src="{% static 'image/agribusiness.jpg'%}" class="h-12 w-32 justify-center ml-2 md:ml-12"/></div>



    <div class="w-2/6 block md:hidden">



      <button type="button" class="float-right btn-group  " role="group" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
        {% for dt in prof %}
        <span class="group"><img src="{{dt.image.url}}" class="w-12 h-12 rounded-full  "/>
        
        
      {%endfor%}
      </button>



   </div>
  </div>

  