{% include 'nav.html' %}
{% load static %}<!-- Three columns -->
<div class="flex shadow-lg">
    <div class="w-1/6 block md:hidden">
        <button type="button" id="modalbtn" class="btn block md:hidden" data-toggle="modal" data-placement="left" data-target="#exampleModalLong">
        <ion-icon class="text-4xl " name="reorder-four-sharp"></ion-icon>
    </button>
    
    <div id="simplemodal" class="modal">

        <div class="modal-content  h-full">
            <span id="closeBtn" class="closeBtn ml-32 ">
            <ion-icon class=" text-3xl  ml-20 floart-right mt-4" name="close"></ion-icon></span>
            <nav class="mt-2">
              <a class="flex items-center py-2 px-8 block bg-gray-700 text-gray-100 border-r-4 border-gray-100" href="{% url 'dashboard'%}">
                <span class="text-white text-2xl"><ion-icon  name="home-outline"></ion-icon> </span>
        
                  <span class="mx-4 font-medium">Home</span>
              </a>
        
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'user'%}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Register</span>
              </a>
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'addservice'%}">
                <ion-icon class="text-2xl" name="list-outline"></ion-icon>
        
        
                  <span class="mx-4 font-medium">Religion Services</span>
              </a>
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'report'%}">
                <ion-icon class="text-2xl" name="list-outline"></ion-icon>
        
        
                  <span class="mx-4 font-medium">Report</span>
              </a>
        
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'codes'%}">
                <ion-icon class="text-2xl" name="search-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Codes</span>
              </a>
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'work'%}">
                <ion-icon class="text-2xl" name="person-outline"></ion-icon>
                <span class="mx-4 font-medium">Users</span>
            </a>

            <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'allchristian' %}">
              <ion-icon class="text-2xl" name="people-outline"></ion-icon>
      
                <span class="mx-4 font-medium">List of Member</span>
            </a>

            <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'booked-list/get'%}">
              <ion-icon class="text-2xl" name="person-outline"></ion-icon>
              <span class="mx-4 font-medium">Booked List</span>
          </a>
        
            <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'adduser'%}">
              <ion-icon class="text-2xl" name="person-add-outline"></ion-icon>
        
              <span class="mx-4 font-medium">Add User</span>
          </a>

          <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'editpro'%}">
            <ion-icon class="text-2xl" name="person-add-outline"></ion-icon>
      
            <span class="mx-4 font-medium">Edit User</span>
        </a>

      
        
          <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100"  href="{% url 'logout'%}" >
         
              <ion-icon class="text-2xl text-white" name="log-out-outline"></ion-icon>
        
            <span class="mx-4 font-medium">Logout</span>
        </a>
          </nav>
       </div>

</div>
           </div>

    
    <div class="w-2/6"> 
      {% load static %}
      <img src="{% static 'image/wheat.jpg'%}" class="h-12 w-32 justify-center ml-2 md:ml-12"/>      </div>



    <div class="w-2/6 block md:hidden">



      <button type="button" class="float-right btn-group  " role="group" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
        {% for dt in prof %}
        <span class="group"><img src="{{dt.image.url}}" class="w-12 h-12 rounded-full  "/>
        
        
      {%endfor%}
      </button>



   </div>
  </div>




  <div class="grid grid-cols-5 h-full ">
        <div class="w-full  bg-gray-800  sm:mt-0 hidden md:block">
          <div class="flex items-center justify-center ">
            {% for dt in prof %}
            <img src="{{dt.image.url}}" class="w-24 h-24 rounded-full mt-4 "/>
          
          {%endfor%}
          </div>
        
          <nav class="mt-2 ">
              <a class="flex items-center py-2 px-8 block bg-gray-700 text-gray-100 border-r-4 border-gray-100" href="{% url 'dashboard'%}">
                <span class="text-white text-2xl"><ion-icon  name="home-outline"></ion-icon> </span>
        
                  <span class="mx-4 font-medium">Home</span>
              </a>
        
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'user'%}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Register</span>
              </a>
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'addservice' %}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Religion Services</span>
              </a>
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'allchristian' %}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">List of Member</span>
              </a>
        
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'report'%}">
                <ion-icon class="text-2xl" name="list-outline"></ion-icon>
        
        
                  <span class="mx-4 font-medium">Report</span>
              </a>
        
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'codes'%}">
                <ion-icon class="text-2xl" name="search-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Codes</span>
              </a>
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'work'%}">
                <ion-icon class="text-2xl" name="person-outline"></ion-icon>
                <span class="mx-4 font-medium">Users</span>
            </a>
        
            <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'booked-list/get'%}">

              <ion-icon class="text-2xl" name="document-text-outline"></ion-icon>
              <span class="mx-4 font-medium">Booked List</span>
          </a>


            <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'adduser'%}">
              <ion-icon class="text-2xl" name="person-add-outline"></ion-icon>
        
              <span class="mx-4 font-medium">Add User</span>

          </a>

          <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'editpro'%}">
            
            <ion-icon class="text-2xl" name="create-outline"></ion-icon>
            <span class="mx-4 font-medium">Edit User</span>
        </a>



          <a class="flex items-center  mt-2 mb-6 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100"  href="{% url 'logout'%}" >
         
              <ion-icon class="text-2xl text-white" name="log-out-outline"></ion-icon>
        
            <span class="mx-4 font-medium ">Logout</span>
        </a>
          </nav>
        
        </div>
  
        <div class=" col-span-4 w-fulljustify-center">

          <div class="md:ml-2 mt-12">
      


            <div class="grid grid-cols-3 gap-1 ">
              <div class="bg-blue-300 text-white w-full rounded-sm mx-4 font-medium text-center font-sans
              text-2xl
              shadow-lg
              ">Members : {{farmers}}</div>
              <div class="bg-red-700 w-full  rounded-sm mx-4 font-medium text-center
              font-sans
              text-2xl
              text-white
              shadow-lg
              ">
                Records : {{Harvestrecord}}
              </div>
              <div class="bg-green-400 w-full  rounded-sm mx-4 font-medium text-center
              font-sans
              text-2xl
              text-white
              shadow-lg
              ">
                Recorders : {{Recorder}}
              </div>
            </div>

    
    


          </div>

          {% for message in messages %}
          {% if message %}
          <div class="">
          <div class="w-auto md:mt-12 text-center bg-red-100 border border-red-400 text-red-900 px-4 py-4 rounded " role="alert">
              <span class="block sm:inline">{{message}}</span>
            </div>
          </div>
          {%endif%}
          {%endfor%}

          {% if mess %}
          <div class="">
          <div class="w-auto md:mt-12 text-center bg-red-100 border border-red-400 text-red-900 px-4 py-4 rounded " role="alert">
              <span class="block sm:inline">{{mess}}</span>
            </div>
          </div>
          {%endif%}
          
          <div class="container mt-8">
            <p class="px-4 text-gray-700 text-2xl font-bold ">Cooperative</p>
            <table id="example" class="">
              <thead>
                <tr>
                  <th>leaderphone</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Current logged in</th>
                  <th>Date joined</th>
                  <th >Operation</th>
                </tr>
              </thead>
    
              <tfoot>
                <tr>
                
                    <th>leaderphone</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Current logged in</th>
                    <th>Date Doined</th>
                    <th >Operation</th>
                </tr>
              </tfoot>
    
              <tbody>
                            {% for dt in Cooperative%}
                            {%if dt.name%}
                            {%else%}
                <tr>
                  <td class="capitalize">{{dt.name}}</td>
                  <td >{{dt.username}}</td>
                  <td class="capitalize">{{dt.email}}</td>
                  <td>{{dt.last_login}}</td>
                  <td>{{dt.date_joined}}</td>
                  <td><a href="{% url 'proove' dt.id%}" class="bg-green-500 mb-2 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Proovee</a> </td>
                </tr>
                {%endif%}
              {%endfor%}
              </tbody>
            </table>


        </div>
      
      </div>
      </div>
 

