{% include 'base.html' %}
{% load static %}

<div class="container my-5 py-5 z-depth-1 bg-white">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
  
  
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
  
        <!--Grid column-->
        <div class="col-md-6">
  
          <!-- Default form contact -->
          <p class="alert alert-warning">{{message}}</p>
          <form action="https://afripay.africa/checkout/index.php" method="POST">
           <h3 class="font-weight-bold mb-4">payment</h3>
  
            <!-- Name -->
            {%csrf_token %}
            <label for="name">Telephone of Buyer</label>
            <input type="text" name="buyer" id="defaultContactFormName" class="form-control mb-4" placeholder="telephone of buyer">
            <label for="name">Quantity purchased</label>
            <input type="text" name="quantity" id="defaultContactFormName" class="form-control mb-4" placeholder="quantity purschased">
            <label for="name">farmercode(receiver)</label>
            <input type="text" name="farmercode" id="defaultContactFormName" class="form-control mb-4" placeholder="farmercode(receiver)">
            <label for="name">type of harvesting</label>
            <input type="text" name="harvesttype" id="defaultContactFormName" class="form-control mb-4" placeholder="harvesttype">
           
          
  
            <!-- Message -->
            <div class="form-group">
  
            <!-- Copy -->
  
            <!-- Send button -->
            <input type="submit" name="submit" class="bg-green-600 px-3 py-3 rounded-lg shadow font-bold" value="pay" onclick="document.afripayform.submit();">
              
          </form>
      </div>
  </div>

