{% include 'base.html' %}
{% load static%}

<main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="sm:text-center lg:text-left">
      <h2 class=" tracking-tight leading-10 font-extra text-gray-900 sm:text-5xl sm:leading-none md:text-5xl">
 we helps in farming management and logistic using digital method .
        <br class="xl:hidden">
        
      </h2>
      
      <div class="">
        <div class="mt-5 inline-block">
          <a href="{% url 'signup' %}" class="bg-gray-700 w-64 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
           Login
          </a>
        </div>
        <div class=" mt-5  inline-block">
          <a href="{% url 'register' %}" class="bg-red-700 hover:bg-blue-700 w-64 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Register 
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
{% load static %}
<img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="{% static 'temp.jpeg'%}" alt="">
</div>
</div>

<div  class="container">

<div class="grid md:grid-cols-2 gap-4 ">


</div>
</div>