{% include 'base.html' %}
{%load static %}

      

      <div class="w-full mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
            <p class="text-gray-600 px-4 ">Do you want to reset your password?</p>
          <p class='text-gray-100 px-2 py-2 rounded-lg  bg-gray-500'>{{success}} </p>
         
          <form action="{% url 'reset' %}"  method="POST" class=" rounded w-full">
            {% csrf_token %}
            <label>enter your email *</label><br>
            <div class="uk-inline w-full">
              <!-- <span class="uk-form-icon" uk-icon="icon: mail"></span> -->
              <input type="text" name="username" class="md:w-3/4 w-full rounded-lg shadow-md px-8 py-2 bg-gray-300" placeholder="Enter Email address">
          </div>
           
  </div>

            <div class="flex items-center gap-8">
                <button class="bg-red-700 hover:bg-blue-700 w-64 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
<span className="text-2xl" >Reset password</span>
                </button>
               
              </div>
            
              <p class="text-gray-600 text-sm py-2"><span uk-icon="icon:user"></span><span class="px-3">Don't have an account?</span> <a href="{% url 'register' %}" >Register an account</a> </p>
        </div>
      </div>
      <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="{% static 'image/agribusiness.jpg'%}" alt="">
  </div>
  </div>



{% include 'footer.html' %}