

{% include 'base.html' %}
<div class="flex mb-4">
    <div class="w-full ">
    </div>
    </div>
  </div>




  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-1">
      
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="w-full ">
            <div class="text-green-700 font-bold text-xl mb-2">Dear !! {{mess}}</div>
            <p class="text-gray-700 text-base"> we have been sent succesfully open link on your email account 
                to activate your account.</p>


<div class="mt-12">
                 <a href="/" class=" btn border-b-2 float-left hover:text-blue-500 text-2xl">
                    <ion-icon name="home"></ion-icon>Back Home
                 </a>

           </div>



          </div>




      </div>
      <div class="col-md-3 col-sm-1">
        
      </div>
    </div>

 
  {% include 'footer.html'%}


